---
layout: default.njk
---
<div class="max-w-4xl mx-auto px-6 py-12">

    <!-- Header -->
    <div class="mb-10">
        <h1 class="text-3xl font-bold font-libre text-center mb-4">{{ title }}</h1>
        <p class="text-gray-700 text-center">
            {{ description }}
        </p>
        {% include 'color-bars.njk' %}
    </div>
    
    {{ content | safe }}

    {# Updated Info #}
    {# {% if date %}
    <div class="text-sm text-gray-500 mt-6">
        <p>Updated on October 16, 2020</p>
    </div>
    {% endif %} #}
</div>