---
title: Outreach Working Group
layout: page.njk
description: Members, purpose, and responsibilities of the SAOA Outreach Working Group
date: 2021-07-27
---

<section class="space-y-6">
    <p>
        The Outreach Working Group is a standing body of the South Asia Open Archives (SAOA), reporting to the SAOA Executive Board and working in close consultation with the SAOA Program Coordinator and other Working Groups.
    </p>

    <h2 class="text-xl font-semibold text-blue-500">Members of the Outreach Working Group</h2>
    <ul class="list-disc list-inside space-y-1">
        <li>Ellen Ambrosone, Princeton University (Chair)</li>
        <li>Gwendolyn Kirk, Indiana University</li>
        <li>Triveni Kuchi, Rutgers, The State University of New Jersey</li>
        <li>Todd Michelson-Ambelang, University of Wisconsin&ndash;Madison</li>
        <li>Laura Ring, University of Chicago</li>
        <li>Mara Thacker, University of Illinois at Urbana-Champaign</li>
    </ul>

    <h2 class="text-xl font-semibold text-blue-500">Purpose</h2>
    <p>
        The charge of the Outreach Working Group is to enhance, increase, and diversify use of the South Asia Open Archives through community engagement.
    </p>
    <p>
        Our outreach is aimed at the user community writ large, encompassing both current and future/potential users, and member and non-member institutions across the globe. In furthering the open access, decolonizing mission of SAOA, we have a particular commitment to reaching a diversity of scholars and institutions in South Asia, as well as non-elite and minority-serving institutions in the United States.
    </p>

    <h2 class="text-xl font-semibold text-blue-500">Forms of Community Engagement</h2>
    <ul class="list-disc list-inside space-y-4">
        <li>
            <strong>Social Media presence and strategy:</strong>
            <ul class="list-disc list-inside pl-6 space-y-1">
                <li>Sharing information about SAOA resources and activities</li>
                <li>Engaging with content from South Asian studies, Library, or Open Access organizations</li>
            </ul>
        </li>
        <li>
            <strong>Educational support:</strong>
            <ul class="list-disc list-inside pl-6 space-y-1">
                <li>Creating support materials for SAOA content, such as:
                    <ul class="list-disc list-inside pl-6 space-y-1">
                        <li>Research guides to interpret key collections (e.g., All-India census reports)</li>
                        <li>Collection introductions that frame digital holdings or provide counterpoints to colonial perspectives</li>
                    </ul>
                </li>
                <li>Preparing sample activities and lesson plans to facilitate SAOA use in the classroom</li>
            </ul>
        </li>
        <li>
            <strong>Public events:</strong>
            <ul class="list-disc list-inside pl-6 space-y-1">
                <li>Presentations or demos at South Asia-related conferences, libraries, or cultural institutions</li>
                <li>Exhibiting at conferences and distributing promotional materials</li>
                <li>Participating in panels or discussions on open access, digital scholarship, and South Asian studies</li>
            </ul>
        </li>
    </ul>

    <h2 class="text-xl font-semibold text-blue-500">Rationale</h2>
    <p>
        The Outreach Working Group contributes to the ongoing promotion of SAOA and helps shape its evolving public presence and vision.
    </p>

    <h2 class="text-xl font-semibold text-blue-500">Membership</h2>
    <p>
        The chair will be selected from among the Working Group Members.
    </p>

    <h2 class="text-xl font-semibold text-blue-500">Tasks, Timelines, and Deliverables</h2>
    <p>
        Typically proposed by the Executive Board, but the Working Group may initiate its own aligned tasks to support SAOA’s mission.
    </p>

    {# <h2 class="text-xl font-semibold text-blue-500">Reporting</h2>
    <p>
        Monthly reporting to the Executive Board, or more often as needed. The Board conveys Working Group updates to the SAOA membership.
    </p> #}

</section>