---
title: Proposals
layout: page.njk
description: "SAOA welcomes proposals for digitization of South Asian content."
---

<p>
  SAOA is developing carefully curated thematic research collections in various
  languages by digitizing key print and microfilm holdings supplied by our
  cooperative network of Member Institutions across South Asia and the U.S. The
  Content Curation Working Group encourages scholars and members of the public
  to use the
  <a href="https://airtable.com/shrp5mo7pD2Y4dBq6" data-extlink="">
    online suggestion form</a
  >
  to submit suggested resources for inclusion in SAOA. Please contact SAOA (<a
    href="mailto:saoa@crl.edu?subject=SAOA%20Content%20Proposal%20Questions"
    data-extlink=""
    >saoa@crl.edu</a
  >) with any questions or clarifications on using the form, or on any other
  query related to suggested items.
</p>

<p>
  SAOA prioritizes the following types of out-of-copyright material for
  digitization:
</p>

<ol>
  <li>
    Official Publications
    <ul>
      <li>
        <p>Gazetteers and Census Reports</p>
      </li>
      <li>
        <p>Statistical and Annual Reports</p>
      </li>
    </ul>
  </li>
  <li>Serials and Newspapers</li>
  <li>Literary and Monographic Sources</li>
  <li>Non-Governmental Publications</li>
</ol>
