---
title: Selection Guidelines
description: Selection Guidelines for the South Asia Open Archives
layout: page.njk
date: 2020-06-04
---

<section class="space-y-6">
    <p>
        The Selection Guidelines, prepared by the Content Curation Working Group, help guide the evolution and expansion of SAOA’s curated collection, building on SAOA’s first Five-Year Plan, its five years of evolving collection development experience, and the FY21-25 Five-Year Plan. In our second five years we will broaden SAOA’s collection scope to incorporate additional themes, more coverage of under-represented geographic areas of South Asia, greater diversity of languages, communities, new resource types (such as audio/visual material, video, data sets, and maps), and wider date coverage (including post-colonial materials). With these criteria in mind, SAOA considers proposals submitted by anyone through its online suggestion form.
    </p>

    <h2 class="text-xl font-semibold text-blue-500">Themes</h2>

    <p>
        (The following themes are not mutually exclusive, due to their multidisciplinary scope.)
    </p>

    <ul class="list-disc list-inside space-y-2">
        <li>
            <strong>Social, Economic and Political History</strong>
        </li>
        <li>
            <strong>Literature</strong> (including fiction, nonfiction, poetry, criticism, literary history, and biographies)</li>
        <li>
            <strong>Women, Gender &amp; Sexuality</strong>
        </li>
        <li>
            <strong>Caste, Tribes &amp; Social Structure</strong>
        </li>
        <li>
            <strong>History of Science</strong> (including history of medicine)</li>
        <li>
            <strong>Art History</strong> (including history of architecture)</li>
    </ul>

    <h2 class="text-xl font-semibold text-blue-500">Resource Types</h2>

    <ol class="list-decimal pl-5 space-y-4">
        <li>
            <strong>Official publications from colonial British India</strong>
            <ul class="list-disc pl-5">
                <li>Census reports, both before and after independence (SAOA has already digitized the decennial reports from 1871 to 1951, and plans to fill in gaps.)</li>
                <li>Statistical reports, such as those on agriculture, land revenue and settlement, trade, commerce, and sanitation</li>
                <li>Annual reports of departments for Presidencies and Princely States including India Office Collection categories (V/10, V/17, V/24, V/26)</li>
                <li>
          Gazetteers, including publications at the provincial and district levels:
          <ul class="list-disc pl-5">
                        <li>Imperial Gazetteer of India Provincial Series</li>
                        <li>Regional Gazetteers of Presidencies and Princely States</li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <strong>Resources from colonial Ceylon and Nepal</strong>
        </li>

        <li>
            <strong>Nineteenth- and twentieth-century serials and newspapers</strong>
            <ul class="list-disc pl-5">
                <li>India Office Collections: V/6, V/16, V/25</li>
                <li>Titles from bibliographies such as Macdonald's Union Catalogue and DSAL’s International Union List</li>
                <li>Filling gaps in Native Newspaper Reports</li>
                <li>Newspapers on trade, women, and revolutionary topics</li>
            </ul>
        </li>

        <li>
            <strong>Nineteenth- and twentieth-century monographs</strong>
            <ul class="list-disc pl-5">
                <li>Titles from the National Bibliography of Indian Literature, including MIPP microfilm</li>
            </ul>
        </li>

        <li>
            <strong>Audio and video resources</strong> (e.g., music performance, interviews, oral histories)</li>
        <li>
            <strong>Visual resources</strong> (e.g., photographic archives, maps)</li>
        <li>
            <strong>Data sets</strong>
        </li>
        <li>
            <strong>Manuscript and archival collections</strong>
            <ul class="list-disc pl-5">
                <li>Examples: Muslim League papers, Indian National Congress papers, Sanskrit manuscript collections</li>
            </ul>
        </li>
    </ol>

    <h2 class="text-blue-500 font-semibold text-2xl">Collection Development and Collaboration Considerations</h2>
    <ul class="list-disc pl-5">
        <li>SAOA will strengthen current collections in key themes like Social &amp; Economic History, Literature, Women &amp; Gender, and Caste &amp; Social Structure.</li>
        <li>SAOA applies its <a href="P/selection-principles" class="text-blue-500 underline">Selection Principles</a> alongside these guidelines.</li>
        <li>Partners may include Roja Muthiah Research Library, Madan Puraskar Pustakalaya, and others worldwide.</li>
        <li>Additional considerations: collaboration agreements, subject/language/regional balance, and synergy with existing open-access efforts.</li>
    </ul>

</section>